body {
    background-image: url("images/dark-honeycomb.png");
    background-repeat: repeat;
    font-family: CVetica;
    text-align: center;
    color: #4EA40A;
}

@font-face{
    font-family: CVetica;
    src: url("font/coolvetica rg.ttf");
}

.greenOverlay{
    z-index: 1;
    background: rgba(0, 255, 0, 0.3);
    color: black;
    padding: 1rem;
}

h1{
    font-size: 50px;
}

.textBlock{
    font-size: 25px;
}

.startCollapsed{
    display: none;
}

.sectionTitle{
    font-size: 40px;
}

.inline{
    display: inline;
}

.left{
    text-align: left;
}

.fnt {
    font-family: CVetica;
}