body {
    background-color: darkseagreen;
    font-family: verdana
}

.column {
    float: left;
    width: 100%;
}

.left {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.middle {
    text-align: center;
    align-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.right {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: 15px;
}
