body {
    background-color: darkseagreen;
    font-family: verdana
}

.column {
    float: left;
    width: 100%;
}

.left {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.middle {
    text-align: center;
    align-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.right {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.row:after {
    padding-top: 25px;
    content: "";
    display: table;
    clear: both;
}

.box1 {
    width: 100%;
    height: 58%;
}

img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 15px;
}

h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 1px;
}
